@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 dark:bg-zinc-700;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500 dark:bg-zinc-600;
}

@layer base {
  body {
    /* Updated text colors for higher contrast */
    @apply bg-zinc-50 text-zinc-950 dark:bg-black dark:text-white overflow-x-hidden transition-colors duration-300;
  }
}